body {
    font-family: 'Georgia', serif;
    background-color: #111;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 30px 0;
    background: linear-gradient(to right, #8B0000, #500000, #000);
}

header img {
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto 50px;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: white;
    list-style: none;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}


li {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    font-size: 300 px;
}

h1 {
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    margin: 40px auto;
    border-spacing: 20px;
    padding: 20px;
}

table th {
    color: white;
    padding: 15px;
    font-size: 0.5 rem;
    border-radius: 8px;
}

table td {
    transition: transform 0.3s ease;
}

table td:hover {
    transform: scale(1.05);
}

a > img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    text-align: justify;
}

div p {   
    background-color: rgba(139, 0, 0, 0.1);
}
